@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700,500);

.body-text {
  padding: 0 20px 30px 20px;
  font-family: "Roboto";
  font-size: 1em;
  color: #333;
  text-align: center;
  line-height: 1.2em;
}
.personal-information h1{
  font-family: "Roboto";
  font-size: 1.5em;
  text-align: center;
  color: white;
  line-height: 1.2em;
}

.form-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-wrapper {
  background-color: #6FB7E9;
  width: 100%;
  display: flex;

}
.personal-information {
  background-color: #2eca6a;
  color: #2eca6a;
  padding: 1px 0;
  text-align: center;
}

input {
  margin: 12px 0;
  padding-left: 3%;
  font-size: 14px;
  border-width: 3px;
}
input[type="text"]{
  border-radius: 4px;
  padding: 3px;
  margin: 5px;
  display: block;
  height: 50px;
  width: 97%;
  border:1px solid #cccccc;
}
input[type="email"]{
  display: block;
  height: 50px;
  border:1px solid #cccccc;
  width: 97%;
}
input[type="submit"]{
  display: block;
  height: 60px;
  width: 50%;
  border: none;
  background-color: #26a356;
  color: #fff;
  margin: auto;
  cursor: pointer;
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
input[type="submit"]:hover{
  background-color: green;
  transition: 0.3s ease;
}
#column-left {
  width: 46.8%;
  float: left;
  margin-bottom: 2px;
}
#column-right {
  width: 46.8%;
  float: right;
}

@media only screen and (max-width: 480px){

  .form-container {
    margin: 0 2%;
  }
  input {
    font-size: 1em;
  }
  #input-button {
    width: 100%;
  }
  #input-field {
    width: 96.5%;
  }

  input {
    margin: 2px 0;
  }
  input[type="submit"]{
    height: 50px;
  }
  #column-left {
    width: 96.5%;
    display: block;
    float: none;
  }
  #column-right {
    width: 96.5%;
    display: block;
    float: none;
  }
}
