.wrapper {
  width: 1200px;
  margin: 0 auto;
}

nav {
  display: block;
  width: 570px;
  margin: 0 auto;
}

nav ul {
  list-style-type: none;
  margin-top: 70px;
  padding: 0;
}

nav ul li {
  display: inline;
  float: left;
  margin-left: 100px;
}

nav ul li:first-child {
  margin-left: 15px;
}

li a {
  display: block;
  font-family: Playfair Display, serif;
  color: #626262;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

li a:hover {
  color: #03a9f4;
}

main {
  width: 960px;
  height: 1000px;
  margin: auto;
}

main ul li {
  display: inline-block;
  width: 420px;
  float: left;
  margin-top: 100px;
}

.left {
  margin-left: 0px;
}

.right {
  margin-left: 60px;
}

.category {
  margin-top: 30px;
  font-family: Ubuntu, sans-serif;
  color: #b4ad9e;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  text-transform: uppercase;
}

h2 {
  font-family: Playfair Display, serif;
  color: #626262;
  font-size: 30px;
  font-weight: 400;
  text-align: left;
}

.news {
  font-family: Playfair Display, serif;
  color: #626262;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.button {
  text-align: center;
  margin: 0 auto;
}

button {
  width: 160px;
  height: 60px;
  margin-top: 60px;
  margin-bottom: 70px;
  background: white;
  font-family: Playfair Display, serif;
  color: #626262;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  border: 1px solid #626262;
}
