html{
  box-sizing:border-box;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

body {
  font-family: "Playfair Display";
  color: #626262;
  font-weight: 400;
 }

.wrapper {
  width: 900px;
  margin: 0 auto;
  padding-top: 44px;
}

.page-header {
  margin-bottom: 70px;
}

.site-navigation {
 list-style-type: none;
 padding: 0;
 text-align: center;
 font-size: 0;
}


.site-navigation li{
  display: inline-block;
}

.site-navigation a {
  font-size: 14px;
  display: block;
  padding: 28px;
  color: #626262;
  text-decoration: none;
  text-transform: uppercase;
}

.site-navigation a:hover {
  color: #03a9f4;
}

.site-navigation a:active {
  color: #03a9f4;
}

.main {
  font-size: 0;
  padding: 0;
  margin: 0;
}


.main li {
  list-style: none;
  display: inline-block;
  float: left;
  width: 420px;
  margin-bottom: 50px;
  }

.right {
  margin-right: 0;
  margin-left: 20px;
}

.left {
  margin-left: 0;
}
.category {
  margin-top: 30px;
  font-family: Ubuntu, sans-serif;
  color: #b4ad9e;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  text-transform: uppercase;
}

.news-header {
  font-size: 30px;
  margin: 0;
}

.news {
 font-size: 14px;
}

.button-load-more {
  display: block;
  width: 160px;
  height: 60px;
  margin: 0 auto;
  font-family: Playfair Display, serif;
  color: #626262;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  border: 1px solid #626262;
  background: white;
  cursor: pointer;
  outline:none;
  transition-duration: 0.2s;
  }

.button-load-more:hover {
 color: #03a9f4;
 border: 1px solid #03a9f4;
    }
